<h1
  class="text-5xl flex flex-col md:text-7xl font-bold tracking-tight leading-tight animate-animate-fade-in-up"
>
  <span
    class="bg-gradient-to-r from-indigo-400 to-blue-500 bg-clip-text text-transparent"
  >
    Hola, soy
  </span>
  <span
    class="bg-gradient-to-r from-indigo-200 via-blue-300 to-indigo-400 bg-clip-text text-transparent"
  >
    Tobias Onandia
  </span>
</h1>

<p
  class="text-2xl md:text-4xl font-medium text-gray-300 animate-slide-up delay-100"
>
  <span class="text-gray-400">Desarrollador Full Stack</span>
</p>
<p
  class="text-2xl text-balance md:text-4xl font-medium text-gray-300 animate-slide-up delay-100"
>
  <span class="text-indigo-400">especializado en</span>
  <span
    class="w-fit bg-gradient-to-r from-purple-400 to-indigo-500 bg-clip-text text-transparent font-semibold border-b-2 border-indigo-500/30 animate-underline"
  >
    Next.js & TypeScript
  </span>
</p>
