---
import BackgroundSkills from "@/components/Skills/BackgroundSkills.astro";
import CardSkills from "@/components/Skills/CardSkills.astro";

const skills = [
  {
    title: "Frontend",
    skills: [
      "Next.js",
      "React",
      "TypeScript",
      "Tailwind CSS",
      "Astro",
      "Framer Motion",
    ],
    icon: `<svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-8 w-8 text-indigo-400"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
>
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z"></path>
    <path d="M15.5 8h-7l.5 4h6l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5"></path>
</svg>
`,
  },
  {
    title: "Backend",
    skills: ["Express", "WebSockets", "Supabase", "REST API", "Node js"],
    icon: `<svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="icon icon-tabler h-6 w-6 text-indigo-400 icons-tabler-outline icon-tabler-brand-nodejs"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M9 9v8.044a2 2 0 0 1 -2.996 1.734l-1.568 -.9a3 3 0 0 1 -1.436 -2.561v-6.635a3 3 0 0 1 1.436 -2.56l6 -3.667a3 3 0 0 1 3.128 0l6 3.667a3 3 0 0 1 1.436 2.561v6.634a3 3 0 0 1 -1.436 2.56l-6 3.667a3 3 0 0 1 -3.128 0"
    ></path><path d="M17 9h-3.5a1.5 1.5 0 0 0 0 3h2a1.5 1.5 0 0 1 0 3h-3.5"
    ></path></svg
>
`,
  },
  {
    title: "Database",
    skills: ["SQL", "Supabase", "Firebase "],
    icon: `<svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="icon h-6 w-6 text-indigo-400 icon-tabler icons-tabler-outline icon-tabler-database"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M12 6m-8 0a8 3 0 1 0 16 0a8 3 0 1 0 -16 0"></path><path
        d="M4 6v6a8 3 0 0 0 16 0v-6"></path><path d="M4 12v6a8 3 0 0 0 16 0v-6"
    ></path></svg
>
`,
  },
  {
    title: "Testing",
    skills: ["Playwright", "Vitest"],
    icon: `<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-test-pipe"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 8.04l-12.122 12.124a2.857 2.857 0 1 1 -4.041 -4.04l12.122 -12.124" /><path d="M7 13h8" /><path d="M19 15l1.5 1.6a2 2 0 1 1 -3 0l1.5 -1.6z" /><path d="M15 3l6 6" /></svg>`,
  },
  {
    title: "DevOps",
    skills: ["Docker", "GitHub Actions", "Vercel", "CI/CD", "Nginx"],
    icon: `<svg
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
  stroke-width="1.5"
  stroke="currentColor"
  class="w-8 h-8"
>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    d="M11.25 2.25a.75.75 0 01.75.75v1.134a8.992 8.992 0 016.375 6.375H21a.75.75 0 010 1.5h-1.134a8.992 8.992 0 01-6.375 6.375V21a.75.75 0 01-1.5 0v-1.134a8.992 8.992 0 01-6.375-6.375H3a.75.75 0 010-1.5h1.134a8.992 8.992 0 016.375-6.375V3a.75.75 0 01.75-.75z"
  />
</svg>`,
  },
  {
    title: "UI/UX",
    skills: [
      "Figma",
      "Shadcn/ui",
      "Storybook",
      "Radix UI",
      "Responsive Design",
      "WCAG",
    ],
    icon: `<svg
  xmlns="http://www.w3.org/2000/svg"
  class="w-8 h-8"
  fill="none"
  viewBox="0 0 24 24"
  stroke="currentColor"
  stroke-width="2"
>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    d="M16.862 3.487a2.973 2.973 0 013.98 3.98l-1.243 1.243-3.98-3.98 1.243-1.243zM4 13.5V20h6.5L20.71 9.79l-6.5-6.5L4 13.5z"
  />
</svg>
`,
  },
];
---

<section id="skills" class="container px-6 mx-auto py-20 relative">
  <article class="max-w-7xl mx-auto">
    <header class="mb-16">
      <h4
        class="text-4xl font-bold bg-gradient-to-r from-indigo-400 to-blue-500 bg-clip-text text-transparent inline-block"
      >
        Arsenal Tecnológico
      </h4>
      <p class="mt-4 text-gray-400 text-balance max-w-2xl">
        Dominio de herramientas modernas para crear soluciones full-stack
        escalables y eficientes
      </p>
    </header>

    <section
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 relative"
    >
      {
        skills.map((skill) => (
          <CardSkills
            title={skill.title}
            skills={skill.skills}
            icon={skill.icon}
          />
        ))
      }
    </section>
  </article>
  <BackgroundSkills />
</section>
