---
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
---

<section class="border-t border-white/10 pt-6">
    <nav class="flex justify-center space-x-4">
        <a
            href="https://github.com"
            class="p-2 rounded-lg bg-white/5 border border-white/10 hover:bg-white/10
                   text-gray-300 hover:text-indigo-400 transition-colors"
        >
            <span class="h-5 w-5">
                <GitHub />
            </span>
        </a>
        <a
            href="https://linkedin.com"
            class="p-2 rounded-lg bg-white/5 border border-white/10 hover:bg-white/10
                   text-gray-300 hover:text-indigo-400 transition-colors"
        >
            <span class="h-5 w-5">
                <LinkedIn />
            </span>
        </a>
    </nav>
</section>
