<section class="px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {/* Habilidades Blandas */}

    {/* Tecnologías Utilizadas */}
    <article class="bg-gray-200 p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-4 flex items-center text-gray-700">
        </h2>
        <div class="space-y-2">
            <p class="text-gray-600">
                <strong>Frontend:</strong> HTML, CSS, JavaScript, React.js, Tailwind
                CSS
            </p>
            <p class="text-gray-600">
                <strong>Backend:</strong> Node.js, Next.js, Supabase
            </p>
            <p class="text-gray-600">
                <strong>Bases de datos:</strong> PostgreSQL, Firebase
            </p>
            <p class="text-gray-600">
                <strong>Herramientas:</strong> Git, Vite, Vitest, Shadcn, React Toastify
            </p>
        </div>
    </article>

    {/* Proyectos Destacados */}
    <div class="bg-gray-300 p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-4 flex items-center text-gray-700">
        </h2>
        <ul class="space-y-2 list-disc list-inside">
            <li class="text-gray-600">
                Sistema de Agendas Médicas: Gestión completa de turnos médicos.
            </li>
            <li class="text-gray-600">
                Facturación en Línea: Integración con AFIP usando Facturante.
            </li>
            <li class="text-gray-600">
                Landing Pages Profesionales: Diseño optimizado para SEO y
                conversiones.
            </li>
        </ul>
    </div>

    {/* Otras Habilidades y Experiencias */}
    <div
        class="bg-gray-400 p-6 rounded-lg shadow-md md:col-span-2 lg:col-span-3"
    >
        <h2 class="text-xl font-semibold mb-4 flex items-center text-gray-700">
        </h2>
        <ul class="space-y-2 list-disc list-inside">
            <li class="text-gray-600">
                Conexión con APIs externas (WhatsApp Business, Callbell)
            </li>
            <li class="text-gray-600">Testing de componentes (Vitest)</li>
            <li class="text-gray-600">
                Creación de contextos escalables en React
            </li>
            <li class="text-gray-600">
                Diseño de interfaces adaptables (responsive design)
            </li>
        </ul>
    </div>
</section>
