---
import GitHub from "./icons/GitHub.astro";
---

<footer class="border-t border-white/10 mt-20 container mx-auto px-6 py-8">
  <article class="flex flex-col md:flex-row justify-between items-center">
    <p class="text-gray-400 text-sm">
      © 2025 Tobias Onandia. Todos los derechos reservados
    </p>
    <p class="flex gap-6 mt-4 md:mt-0">
      <a
        href="https://github.com/TobiasOnandia"
        class="text-gray-400 hover:text-indigo-400 transition-colors"
      >
        <GitHub />
      </a>
    </p>
  </article>
</footer>
