<header class="w-full">
    <nav>
        <ul
            class="mx-auto flex items-center justify-around py-2 rounded-b-md
            *:cursor-pointer bg-neutral-800"
        >
            <li>Inicio</li>
            <li>Projectos</li>
            <li>Sobre mi</li>
            <li>Contactame</li>
        </ul>
    </nav>
</header>
