---
import Project from "./Project.astro";
---

<section id="projects" class="py-8 mt-14 rounded-xl">
    <div class="container mx-auto px-6">
        <h2
            class="text-3xl font-bold mb-12 bg-gradient-to-r from-indigo-400 to-blue-500 bg-clip-text text-transparent"
        >
            Proyectos Destacados
        </h2>

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Tarjeta de Proyecto -->
            <Project />
            <!-- Repetir para otros proyectos -->
        </div>
    </div>
</section>
