---
import NodeIcon from "../icons/NodeIcon.astro";
---

<section class="flex gap-3">
    <div class="p-2 flex items-center bg-indigo-500/10 rounded-lg">
        <NodeIcon />
    </div>
    <article>
        <h3 class="font-semibold text-indigo-300 mb-1">Backend</h3>
        <ul class="text-gray-300">
            <li>Node.js</li>
            <li>Express</li>
            <li>Next.js API Routes</li>
            <li>Supabase</li>
        </ul>
    </article>
</section>
