---
import TechStack from "./TechStack.astro";
import ProjectsHighlighted from "./ProjectsHighlighted.astro";
import OtherSkills from "./OtherSkills.astro";
import SoftSkills from "./SoftSkills.astro";
---

<section
  class="px-4 mt-16 grid bg-transparent grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 relative"
>
  {/* Tech Stack Expandido */}
  <TechStack />
  {/* Proyectos Destacados Mejorados */}
  <ProjectsHighlighted />
  {/* Habilidades Complementarias */}
  <OtherSkills />
  {/* Soft Skills */}
  <SoftSkills />
</section>
