---
import Database from "../icons/Database.astro";
---

<section class="flex gap-3">
    <span class="p-2 flex items-center bg-indigo-500/10 rounded-lg">
        <Database />
    </span>

    <article>
        <h3 class="font-semibold text-indigo-300 mb-1">Bases de Datos</h3>
        <ul class="text-gray-300 space-y-0.5">
            <li>SQL</li>
            <li>Firebase</li>
            <li>Supabase</li>
        </ul>
    </article>
</section>
