---
import DevsOpsIcon from "../icons/DevsOpsIcon.astro";
---

<section class="flex gap-3">
    <div class="p-2 flex items-center bg-indigo-500/10 rounded-lg">
        <DevsOpsIcon />
    </div>

    <article>
        <h3 class="font-semibold text-indigo-300 mb-1">DevOps</h3>
        <ul class="text-gray-300">
            <li>Vercel</li>
        </ul>
    </article>
</section>
