<div class="flex gap-3">
    <div class="p-2 flex items-center bg-indigo-500/10 rounded-lg">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-indigo-400"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
        >
            <path d="M5 12l-2-2l2-2m10.5 4H4m10 6l2-2l-2-2M4 12h16.5"
            ></path><circle cx="12" cy="12" r="3"></circle>
        </svg>
    </div>
    <div>
        <h3 class="font-semibold text-indigo-300 mb-1">Frontend</h3>
        <p class="text-gray-300">
            Next.js, React.js, TypeScript, Tailwind CSS,<br />
            Shadcn/ui, Redux Toolkit, Framer Motion
        </p>
    </div>
</div>
