---
import HTMLIcon from "@/components/icons/HTMLIcon.astro";
---

<section class="flex gap-3 h-fit">
  <span class="px-1 flex items-center bg-indigo-500/10 rounded-lg">
    <HTMLIcon />
  </span>

  <article>
    <h3 class="font-semibold text-indigo-300 mb-1">Frontend</h3>
    <ul class="text-gray-300 flex flex-wrap gap-1 space-y-1">
      <li>Next.js</li>
      <li>React.js</li>
      <li>TypeScript</li>
      <li>Tailwind CSS</li>
      <li>Shadcn/ui</li>
      <li>Framer Motion</li>
    </ul>
  </article>
</section>
