---
import SoftIcon from "@/components/icons/SoftIcon.astro";

const habilidades = [
  "Resolución de Problemas",
  "Comunicación Efectiva",
  "Gestión del Tiempo",
  "Aprendizaje Continuo",
];
---

<section
  class="p-8 rounded-xl bg-white/5 border border-white/10 col-span-2 lg:col-span-1 backdrop-blur-lg hover:shadow-lg transition-shadow"
>
  <h2 class="text-xl font-bold mb-6 text-cyan-400 flex items-center gap-3">
    <SoftIcon />
    Soft Skills
  </h2>

  <ul class="grid grid-cols-2 gap-4">
    {
      habilidades.map((habilidad) => (
        <li class="flex items-center gap-2">
          <div class="w-2 h-2 bg-cyan-400 rounded-full" />
          <span class="text-gray-300 text-sm">{habilidad}</span>
        </li>
      ))
    }
  </ul>
</section>
